body {
  margin: 0;
  line-height: normal;
}
.papaya-child,
.search-box7 {
  position: absolute;
  top: 0;
  left: 0;
  width: 1284px;
  height: 76px;
}
.search-box7 {
  border: 0;
  font-family: var(--font-inter);
  font-size: var(--font-size-xs);
  background-color: var(--white);
  top: 19px;
  left: 836.4px;
  border-radius: var(--br-sm);
  width: 386px;
  height: 37px;
  display: flex;
  flex-direction: row;
  padding: var(--padding-sm) var(--padding-lg) var(--padding-sm)
    var(--padding-md);
  box-sizing: border-box;
  align-items: center;
  justify-content: flex-start;
}
.fislack-icon7 {
  position: absolute;
  height: 4.02%;
  width: 3.2%;
  top: 2.41%;
  right: 93.52%;
  bottom: 93.57%;
  left: 3.28%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.farmaholic7 {
  position: relative;
  text-transform: capitalize;
  font-weight: 600;
}
.logo8 {
  position: absolute;
  top: 18px;
  left: 103.4px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-size: var(--font-size-lg);
}
.products7 {
  top: 24px;
  left: 314.4px;
  font-weight: 600;
  cursor: pointer;
}
.papaya-seed,
.products7,
.support7 {
  position: absolute;
  text-transform: capitalize;
}
.support7 {
  top: 25px;
  left: 439.4px;
  font-weight: 600;
  cursor: pointer;
}
.papaya-seed {
  top: 101px;
  left: 19px;
  font-size: var(--font-size-3xl);
  font-family: var(--font-abhaya-libre-extrabold);
  color: var(--color-black);
  display: inline-block;
  width: 638px;
  height: 119px;
}
.name6 {
  margin-block-start: 0;
  margin-block-end: 1px;
}
.name-papaya-container {
  position: absolute;
  top: 190px;
  left: 743px;
  line-height: 50px;
  text-transform: capitalize;
  display: inline-block;
  font-family: var(--font-arial);
  color: var(--color-black);
  white-space: pre-wrap;
  width: 337px;
  height: 202px;
}
.papaya-item {
  position: absolute;
  right: 200px;
  bottom: 81px;
  border-radius: var(--br-lg);
  background-color: var(--color-orangered);
  width: 337px;
  height: 81px;
}
.buy-now6 {
  position: absolute;
  right: 226px;
  bottom: 93px;
  font-size: var(--font-size-xl);
  text-transform: capitalize;
  font-family: var(--font-abhaya-libre-extrabold);
  display: inline-block;
  width: 214px;
  height: 48px;
}
.istockphoto-104638864-612x612-icon {
  position: absolute;
  top: 166px;
  left: 20px;
  width: 610px;
  height: 640px;
  object-fit: cover;
}
.papaya {
  position: relative;
  background-color: var(--white);
  width: 100%;
  height: 832px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--white);
  font-family: var(--font-inter);
}
