body {
  margin: 0;
  line-height: normal;
}
.search-box10,
.sunflower-buy-child {
  position: absolute;
  top: 0;
  left: 0;
  width: 1284px;
  height: 76px;
}
.search-box10 {
  border: 0;
  font-family: var(--font-inter);
  font-size: var(--font-size-xs);
  background-color: var(--white);
  top: 19px;
  left: 836.4px;
  border-radius: var(--br-sm);
  width: 386px;
  height: 37px;
  display: flex;
  flex-direction: row;
  padding: var(--padding-sm) var(--padding-lg) var(--padding-sm)
    var(--padding-md);
  box-sizing: border-box;
  align-items: center;
  justify-content: flex-start;
}
.fislack-icon10 {
  position: absolute;
  height: 4.02%;
  width: 3.2%;
  top: 2.41%;
  right: 93.52%;
  bottom: 93.57%;
  left: 3.28%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.farmaholic10 {
  position: relative;
  text-transform: capitalize;
  font-weight: 600;
}
.logo11 {
  position: absolute;
  top: 18px;
  left: 103.4px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-size: var(--font-size-lg);
}
.products10 {
  top: 24px;
  left: 314.4px;
  font-weight: 600;
  cursor: pointer;
}
.products10,
.sunflower-seed,
.support10 {
  position: absolute;
  text-transform: capitalize;
}
.support10 {
  top: 25px;
  left: 439.4px;
  font-weight: 600;
  cursor: pointer;
}
.sunflower-seed {
  top: 101px;
  left: 19px;
  font-size: var(--font-size-3xl);
  font-family: var(--font-abhaya-libre-extrabold);
  color: var(--color-black);
  display: inline-block;
  width: 638px;
  height: 119px;
}
.w5-22da0cb0-82e7-4eef-8fe5-0b2-icon {
  position: absolute;
  top: 191px;
  left: 19px;
  width: 611px;
  height: 608px;
  object-fit: cover;
}
.name9 {
  margin-block-start: 0;
  margin-block-end: 1px;
}
.name-sunflower-container {
  position: absolute;
  top: calc(50% - 239px);
  left: calc(50% + 103px);
  line-height: 50px;
  text-transform: capitalize;
  display: inline-block;
  font-family: var(--font-arial);
  color: var(--color-black);
  white-space: pre-wrap;
  width: 420px;
  height: 197px;
}
.sunflower-buy-item {
  position: absolute;
  right: 200px;
  bottom: 87px;
  border-radius: var(--br-lg);
  background-color: var(--color-orangered);
  width: 337px;
  height: 81px;
}
.buy-now9 {
  position: absolute;
  right: 250px;
  bottom: 103px;
  font-size: var(--font-size-xl);
  text-transform: capitalize;
  font-family: var(--font-abhaya-libre-extrabold);
  display: flex;
  align-items: flex-end;
  width: 199px;
  height: 48px;
}
.sunflower-buy {
  position: relative;
  background-color: var(--white);
  width: 100%;
  height: 832px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--white);
  font-family: var(--font-inter);
}
